.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-radius: var(--8px);
  width: 100%;
  max-width: 15rem;
  max-height: 30rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  /* justify-content: space-between; */
  flex: 1 0 auto;
}

.title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.author {
  margin: 0;
  font-weight: 500;
}

.price {
  display: flex;
  font-size: var(--24px);
  font-weight: 700;
  color: var(--color-accent);
}

.img {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}

.btn {
  margin-top: auto;
}